*{
	padding: 0;
	margin: 0;
}
html,body{
	width: 100%;
}
a{
	text-decoration: none;
	/* 去掉下划线 */
}
li{
	list-style: none;
	/* 去掉列表项的样式 */
}
/* 兼容各浏览器的清除元素浮动产生影响的方法 */
.clearFloat::after{
	content: "";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}
.clearFloat{
	zoom: 1;
}